.book-filter {
    background-color: plum;
    padding-inline: 1em;
    border-radius: 15px;
 
}

.book-filter form {
    display: grid;
    grid-template-columns: 100px 200px;
    gap: .5em;
}

.book-filter form button {
    margin-inline: 0
}